* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.jpg);
    /* background-image: url(images/EG.png); */
    height: 20%;
    background-size: cover;
    background-position: center;
   position: fixed;
    width: 100%;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 20px;
    
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #ffff;
    padding: 5px 17px;
    border: 1px solid black transparent;
    border-radius: 5px;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: white;
    color: black;
}

ul li.default a {
    background-color: #fff;
    color: black;
}

.logo img {
    width: 100px;
    height: auto;
    float: left;
}

.main {
    max-width: 90%;
    margin: auto;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: #ffff;
    font-size: 50px;
}
.dropbtn{
    background-color: white;
    color: black;
    padding: 5px 16px;
    font-size:17px;
    border:none;
    cursor:pointer;
}
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown-services{
    display: none;
    position: absolute;
    background-color: rgb(94, 247, 94);
    min-width:150px;
    box-shadow: 0px 8px 16px 0px black;
    z-index:1;
}
.dropdown-services a{
    color:black;
    padding:5px ;
    text-decoration: none;
    display: block;
}
.dropdown-services a:hover{
    background-color: rgb(66, 157, 241);
}
.dropdown:hover .dropdown-services{
    display: block;
}